<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>스터디 수정</title>
</head>
<body>
    <h1>스터디 수정</h1>
    <form action="/study/{{ study._id }}/edit" method="post">
        <label>제목:</label><br>
        <input type="text" name="title" value="{{ study.title }}" required><br><br>

        <label>모집정원:</label><br>
        <input type="number" name="capacity" value="{{ study.capacity }}" required min="2"><br><br>

        <label>내용:</label><br>
        <textarea name="post" rows="10" cols="50" required>{{ study.post }}</textarea><br><br>

        <button>수정 완료</button>
    </form>

    <a href="{{ url_for('study_detail', study_id=study._id|string) }}">상세보기로 돌아가기</a>
</body>
</html>