<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- 부트스트랩 링크 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">


</head>
<body>
    <div>

        <p style = "margin-top: 200px;"></p>
    <h1 style ="margin-left: 250px;">스터디를 하자!</h1> <!--텍스트 오른쪽 정렬 me-3:오른쪽 여백 -->

    <p style = "margin-top: 150px;"></p>
    <div class="card" style="max-width: 1500px; margin-left: auto; margin-right: 30px;">
        <div class="card-body" style="height: 500px;">
    <h2>스터디 등록</h2>
    <form action="/submit" method="post">
        제목: <input type="text" name="title" placeholder="제목을 입력하세요" />
        정원: <input type="number" name="capacity" style="width:50px" required><br><br>
        게시글:<br>
        <textarea name="post" rows="5" cols="100" required></textarea><br><br>
        <input type="submit" value="등록">
        <button onclick="location.href='/'">뒤로가기</button>
        </div>
    </div>
    </form>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>
</html>