<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스터디를 하자</title>
</head>
<body>
    <div>
    <h1>{{ study.title }}</h1>
    <p style ="margin-right: 10px;">모집정원: {{ study.number }} / {{ study.capacity }}</p>
    <div class="card-body" style="height: 500px;">
    <p>{{ study.post }}</p>
    </div>
    </div>



<div style="display: flex; gap: 10px; align-items: center; margin-left: 900px; ">
    <form action="{{ url_for('give_num', study_id=study._id|string) }}" method="post">
                <input type="hidden" name="_id" value="{{ study._id }}">
                <input type="hidden" name="capacity" value="{{ study.capacity }}">
                <button >신청하기</button>
    </form>
    {% if alert_message %}
        <script>
            alert("{{ alert_message }}");
        </script>
    {% endif %}

        {%if true %}
                <button  onclick="location.href='/study/{{ study._id }}/edit'">수정</button>
                <form action="/study/delete" method="post">
                    <input type="hidden" name="_id" value="{{ study._id }}">
                    <button>삭제</button>
                </form>

        {% endif %} 
</div>
    <a href="/">목록으로 돌아가기</a>

    
</body>
</html>